{% include base_path %}

<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- Official University of Illinois Urbana-Champaign favicon -->
<link rel="apple-touch-icon" href="https://cdn.brand.illinois.edu/icons/touch-icon.png"/>
<link rel="icon" type="image/svg+xml" href="https://cdn.brand.illinois.edu/icons/icon.svg"/>
<link rel="icon" href="https://cdn.brand.illinois.edu/icons/favicon.ico" sizes="32x32"/>
<meta name="theme-color" content="#ffffff"/>
<link rel="stylesheet" href="{{ '/assets/css/news.css' | relative_url }}">
<!-- end custom head snippets -->
