{% include base_path %}

<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- Transparent University of Illinois Urbana-Champaign block I favicon -->
<link rel="icon" type="image/png" sizes="512x512" href="{{ base_path }}/images/favicon-uiuc-512.png"/>
<link rel="icon" type="image/x-icon" href="{{ base_path }}/images/favicon-uiuc.ico"/>
<link rel="apple-touch-icon" sizes="512x512" href="{{ base_path }}/images/favicon-uiuc-512.png"/>
<meta name="theme-color" content="#FF5F05"/>
<link rel="stylesheet" href="{{ '/assets/css/news.css' | relative_url }}">
<!-- end custom head snippets -->
